<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intranet Administrateur</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function createItem(url, data, itemType) {
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(result) {
                    alert(result.message);
                    location.reload();
                },
                error: function(error) {
                    alert(`Erreur lors de la création du ${itemType}: ${error.responseJSON.error}`);
                }
            });
        }

        function updateItem(url, data, itemType) {
            $.ajax({
                url: url,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(result) {
                    alert(result.message);
                    location.reload();
                },
                error: function(error) {
                    alert(`Erreur lors de la mise à jour du ${itemType}: ${error.responseJSON.error}`);
                }
            });
        }

        function deleteItem(url, itemId, itemType) {
            if (confirm(`Êtes-vous sûr de vouloir supprimer ce ${itemType} ?`)) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: itemId }),
                    success: function(result) {
                        alert(result.message);
                        location.reload();
                    },
                    error: function(error) {
                        alert(`Erreur lors de la suppression du ${itemType}: ${error.responseJSON.error}`);
                    }
                });
            }
        }
    </script>
</head>
<body class="bg-gray-100 p-6">
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-center text-2xl font-bold text-gray-800 mb-6">Espace Administrateur</h1>

        <!-- Gestion des Utilisateurs -->
        <section class="mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Gestion des Utilisateurs</h2>
            <button class="bg-green-500 text-white px-4 py-2 rounded" onclick="toggleForm('createUserForm')">Ajouter un utilisateur</button>
<form id="createUserForm" class="mt-4 hidden">
    <input type="text" name="nom" placeholder="Nom" required class="border p-2 mb-2">
    <input type="text" name="prenom" placeholder="Prénom" required class="border p-2 mb-2">
    <input type="email" name="mail" placeholder="Email" required class="border p-2 mb-2">
    <input type="password" name="password" placeholder="Mot de passe" required class="border p-2 mb-2">
    <select name="status" required class="border p-2 mb-2">
        <option value="etudiant">Étudiant</option>
        <option value="professeur">Professeur</option>
        <option value="admin">Admin</option>
    </select>
    <select name="classe_id" required class="border p-2 mb-2">
        <option value="" disabled selected>Sélectionnez une classe</option>
        {% for classe in classes %}
            <option value="{{ classe.id }}">{{ classe.name }}</option>
        {% endfor %}
    </select>
    <button type="button" onclick="createItem('{{ url_for('user_routes.create_user') }}', {nom: document.forms['createUserForm']['nom'].value, prenom: document.forms['createUserForm']['prenom'].value, mail: document.forms['createUserForm']['mail'].value, password: document.forms['createUserForm']['password'].value, status: document.forms['createUserForm']['status'].value, classe_id: document.forms['createUserForm']['classe_id'].value}, 'utilisateur')" class="bg-blue-500 text-white p-2">Créer</button>
</form>

            <table class="w-full mt-4 border-collapse border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="p-2 border">Nom</th>
                        <th class="p-2 border">Rôle</th>
                        <th class="p-2 border text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr class="bg-gray-100">
                        <td class="p-2 border">{{ user.nom }} {{ user.prenom }}</td>
                        <td class="p-2 border">{{ user.status }}</td>
                        <td class="p-2 border text-right">
                            <button class="bg-yellow-500 text-white px-2 py-1 rounded" onclick="toggleForm('updateUserForm{{ user.id }}')">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded" onclick="deleteItem('{{ url_for('user_routes.delete_user') }}', {{ user.id }}, 'utilisateur')">Supprimer</button>
                            <form id="updateUserForm{{ user.id }}" class="hidden mt-2">
                                <input type="hidden" name="id" value="{{ user.id }}">
                                <input type="text" name="nom" value="{{ user.nom }}" required class="border p-1">
                                <input type="text" name="prenom" value="{{ user.prenom }}" required class="border p-1">
                                <input type="email" name="mail" value="{{ user.mail }}" required class="border p-1">
                                <select name="status" required class="border p-1">
                                    <option value="etudiant" {% if user.status == 'etudiant' %}selected{% endif %}>Étudiant</option>
                                    <option value="professeur" {% if user.status == 'professeur' %}selected{% endif %}>Professeur</option>
                                    <option value="admin" {% if user.status == 'admin' %}selected{% endif %}>Admin</option>
                                </select>
                                <button type="button" onclick="updateItem('{{ url_for('user_routes.update_user') }}', {id: document.forms['updateUserForm{{ user.id }}']['id'].value, nom: document.forms['updateUserForm{{ user.id }}']['nom'].value, prenom: document.forms['updateUserForm{{ user.id }}']['prenom'].value, mail: document.forms['updateUserForm{{ user.id }}']['mail'].value, status: document.forms['updateUserForm{{ user.id }}']['status'].value}, 'utilisateur')" class="bg-blue-500 text-white p-1">Mettre à jour</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Gestion des Cours -->
        <section class="mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Gestion des Cours</h2>
            <button class="bg-green-500 text-white px-4 py-2 rounded" onclick="toggleForm('createCoursForm')">Ajouter un cours</button>
            <form id="createCoursForm" class="mt-4 hidden">
            <input type="text" name="name" placeholder="Nom du cours" required class="border p-2 mb-2">
            <input type="hidden" name="creater_user" value="{{ user.id }}">
            <select name="classe_id" required class="border p-2 mb-2">
              <option value="" disabled selected>Sélectionnez une classe</option>
              {% for classe in classes %}
                <option value="{{ classe.id }}">{{ classe.name }}</option>
              {% endfor %}
            </select>
            <input type="text" name="jour" placeholder="Jour (ex: Lundi)" required class="border p-2 mb-2">
            <input type="text" name="horaire" placeholder="Horaire (ex: 08:00 - 10:00)" required class="border p-2 mb-2">
            <input type="text" name="devoir" placeholder="Devoir (optionnel)" class="border p-2 mb-2">
            <button type="button" onclick="createItem('{{ url_for('cours_routes.create_cours') }}', {name: document.forms['createCoursForm']['name'].value, creater_user: document.forms['createCoursForm']['creater_user'].value, classe_id: document.forms['createCoursForm']['classe_id'].value, jour: document.forms['createCoursForm']['jour'].value, horaire: document.forms['createCoursForm']['horaire'].value, devoir: document.forms['createCoursForm']['devoir'].value}, 'cours')" class="bg-blue-500 text-white p-2">Créer</button>
            </form>

            <table class="w-full mt-4 border-collapse border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="p-2 border">Nom du Cours</th>
                        <th class="p-2 border text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cours in cours %}
                    <tr class="bg-gray-100">
                        <td class="p-2 border">{{ cours.name }}</td>
                        <td class="p-2 border text-right">
                            <button class="bg-yellow-500 text-white px-2 py-1 rounded" onclick="toggleForm('updateCoursForm{{ cours.id }}')">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded" onclick="deleteItem('{{ url_for('cours_routes.delete_cours') }}', {{ cours.id }}, 'cours')">Supprimer</button>
                            <form id="updateCoursForm{{ cours.id }}" class="hidden mt-2">
                                <input type="hidden" name="id" value="{{ cours.id }}">
                                <input type="text" name="name" value="{{ cours.name }}" required class="border p-1">
                                <select name="classe_id" required class="border p-1">
                                    {% for classe in classes %}
                                        <option value="{{ classe.id }}" {% if classe.id == cours.classe_id %}selected{% endif %}>{{ classe.name }}</option>
                                    {% endfor %}
                                </select>
                                <input type="text" name="jour" value="{{ cours.jour }}" required class="border p-1">
                                <input type="text" name="horaire" value="{{ cours.horaire }}" required class="border p-1">
                                <button type="button" onclick="updateItem('{{ url_for('cours_routes.update_cours') }}', {id: document.forms['updateCoursForm{{ cours.id }}']['id'].value, name: document.forms['updateCoursForm{{ cours.id }}']['name'].value, classe_id: document.forms['updateCoursForm{{ cours.id }}']['classe_id'].value, jour: document.forms['updateCoursForm{{ cours.id }}']['jour'].value, horaire: document.forms['updateCoursForm{{ cours.id }}']['horaire'].value}, 'cours')" class="bg-blue-500 text-white p-1">Mettre à jour</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Gestion des Devoirs -->
        <section class="mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Gestion des Devoirs</h2>
            <button class="bg-green-500 text-white px-4 py-2 rounded" onclick="toggleForm('createDevoirForm')">Ajouter un devoir</button>
            <form id="createDevoirForm" class="mt-4 hidden">
                <select name="classe_id" required class="border p-2 mb-2">
                    <option value="" disabled selected>Sélectionnez une classe</option>
                    {% for classe in classes %}
                        <option value="{{ classe.id }}">{{ classe.name }}</option>
                    {% endfor %}
                </select>
                <textarea name="text" placeholder="Description du devoir" required class="border p-2 mb-2"></textarea>
                <button type="button" onclick="createItem('{{ url_for('devoirs_routes.create_devoir') }}', {classe_id: document.forms['createDevoirForm']['classe_id'].value, text: document.forms['createDevoirForm']['text'].value}, 'devoir')" class="bg-blue-500 text-white p-2">Créer</button>
            </form>
            <ul class="mt-4">
                {% for devoir in devoirs %}
                <li class="bg-gray-100 p-2 flex justify-between items-center">
                    {{ devoir.text }}
                    <span class="flex gap-2">
                        <button class="bg-yellow-500 text-white px-2 py-1 rounded" onclick="toggleForm('updateDevoirForm{{ devoir.id }}')">Modifier</button>
                        <button class="bg-red-500 text-white px-2 py-1 rounded" onclick="deleteItem('{{ url_for('devoirs_routes.delete_devoir') }}', {{ devoir.id }}, 'devoir')">Supprimer</button>
                        <form id="updateDevoirForm{{ devoir.id }}" class="hidden mt-2">
                            <input type="hidden" name="id" value="{{ devoir.id }}">
                            <select name="classe_id" required class="border p-1">
                                {% for classe in classes %}
                                    <option value="{{ classe.id }}" {% if classe.id == devoir.classe_id %}selected{% endif %}>{{ classe.name }}</option>
                                {% endfor %}
                            </select>
                            <textarea name="text" class="border p-1">{{ devoir.text }}</textarea>
                            <button type="button" onclick="updateItem('{{ url_for('devoirs_routes.update_devoir') }}', {id: document.forms['updateDevoirForm{{ devoir.id }}']['id'].value, classe_id: document.forms['updateDevoirForm{{ devoir.id }}']['classe_id'].value, text: document.forms['updateDevoirForm{{ devoir.id }}']['text'].value}, 'devoir')" class="bg-blue-500 text-white p-1">Mettre à jour</button>
                        </form>
                    </span>
                </li>
                {% endfor %}
            </ul>
        </section>

        <!-- Gestion des Notes -->
        <section class="mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Gestion des Notes</h2>
            <button class="bg-green-500 text-white px-4 py-2 rounded" onclick="toggleForm('createNoteForm')">Ajouter une note</button>
            <form id="createNoteForm" class="mt-4 hidden">
                <select name="user_id" required class="border p-2 mb-2">
                    <option value="" disabled selected>Sélectionnez un élève</option>
                    {% for eleve in eleves %}
                        <option value="{{ eleve.id }}">{{ eleve.nom }} {{ eleve.prenom }}</option>
                    {% endfor %}
                </select>
                <select name="cours_id" required class="border p-2 mb-2">
                    <option value="" disabled selected>Sélectionnez un cours</option>
                    {% for cours in cours %}
                        <option value="{{ cours.id }}">{{ cours.name }}</option>
                    {% endfor %}
                </select>
                <input type="number" name="nb_note" placeholder="Note" required class="border p-2 mb-2">
                <textarea name="commentaire" placeholder="Commentaire" class="border p-2 mb-2"></textarea>
                <button type="button" onclick="createItem('{{ url_for('note_routes.create_note') }}', {user_id: document.forms['createNoteForm']['user_id'].value, cours_id: document.forms['createNoteForm']['cours_id'].value, nb_note: document.forms['createNoteForm']['nb_note'].value, commentaire: document.forms['createNoteForm']['commentaire'].value}, 'note')" class="bg-blue-500 text-white p-2">Ajouter</button>
            </form>
            <table class="w-full mt-4 border-collapse border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="p-2 border">Élève</th>
                        <th class="p-2 border">Matière</th>
                        <th class="p-2 border">Note</th>
                        <th class="p-2 border text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for note in notes %}
                    <tr class="bg-gray-100">
                        <td class="p-2 border">{{ note.user.nom }} {{ note.user.prenom }}</td>
                        <td class="p-2 border">{{ note.cours.name }}</td>
                        <td class="p-2 border">{{ note.nb_note }}</td>
                        <td class="p-2 border text-right">
                            <button class="bg-yellow-500 text-white px-2 py-1 rounded" onclick="toggleForm('updateNoteForm{{ note.id }}')">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded" onclick="deleteItem('{{ url_for('note_routes.delete_note') }}', {{ note.id }}, 'note')">Supprimer</button>
                            <form id="updateNoteForm{{ note.id }}" class="hidden mt-2">
                                <input type="hidden" name="id" value="{{ note.id }}">
                                <input type="number" name="nb_note" value="{{ note.nb_note }}" required class="border p-1">
                                <textarea name="commentaire" class="border p-1">{{ note.commentaire }}</textarea>
                                <button type="button" onclick="updateItem('{{ url_for('note_routes.update_note') }}', {id: document.forms['updateNoteForm{{ note.id }}']['id'].value, nb_note: document.forms['updateNoteForm{{ note.id }}']['nb_note'].value, commentaire: document.forms['updateNoteForm{{ note.id }}']['commentaire'].value}, 'note')" class="bg-blue-500 text-white p-1">Mettre à jour</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Gestion des Classes -->
        <section class="mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Gestion des Classes</h2>
            <button class="bg-green-500 text-white px-4 py-2 rounded" onclick="toggleForm('createClasseForm')">Ajouter une classe</button>
            <form id="createClasseForm" class="mt-4 hidden">
                <input type="text" name="name" placeholder="Nom de la classe" required class="border p-2 mb-2">
                <button type="button" onclick="createItem('{{ url_for('classe_routes.create_classe') }}', {name: document.forms['createClasseForm']['name'].value}, 'classe')" class="bg-blue-500 text-white p-2">Créer</button>
            </form>
            <table class="w-full mt-4 border-collapse border border-gray-300">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="p-2 border">Nom de la Classe</th>
                        <th class="p-2 border text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for classe in classes %}
                    <tr class="bg-gray-100">
                        <td class="p-2 border">{{ classe.name }}</td>
                        <td class="p-2 border text-right">
                            <button class="bg-yellow-500 text-white px-2 py-1 rounded" onclick="toggleForm('updateClasseForm{{ classe.id }}')">Modifier</button>
                            <button class="bg-red-500 text-white px-2 py-1 rounded" onclick="deleteItem('{{ url_for('classe_routes.delete_classe') }}', {{ classe.id }}, 'classe')">Supprimer</button>
                            <form id="updateClasseForm{{ classe.id }}" class="hidden mt-2">
                                <input type="hidden" name="id" value="{{ classe.id }}">
                                <input type="text" name="name" value="{{ classe.name }}" required class="border p-1">
                                <button type="button" onclick="updateItem('{{ url_for('classe_routes.update_classe') }}', {id: document.forms['updateClasseForm{{ classe.id }}']['id'].value, name: document.forms['updateClasseForm{{ classe.id }}']['name'].value}, 'classe')" class="bg-blue-500 text-white p-1">Mettre à jour</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Détails des Classes -->
        <section class="mb-6">
            <h2 class="text-xl font-semibold text-gray-700 mb-4">Détails des Classes</h2>
            {% for classe in classes %}
            <div class="mb-4">
                <h3 class="text-lg font-semibold text-gray-700">{{ classe.name }}</h3>
                <ul class="mt-2">
                    {% for eleve in classe.eleves %}
                    <li class="bg-gray-100 p-2">{{ eleve.nom }} {{ eleve.prenom }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </div>

    <script>
        function toggleForm(formId) {
            document.getElementById(formId).classList.toggle('hidden');
        }
    </script>
</body>
</html>

